.menu {
  position: fixed;
  top: -180px;
  right: -650px;
  transform: translateX(-50%);
  z-index: 10;
}

.menu img {
  width: 20%;
}

.top {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.top img {
  width: 40%;
}

.left {
  position: fixed;
  left: -300px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.left img {
  width: 30%;
}

.right {
  position: fixed;
  right: -300px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.right img {
  width: 30%;
}

.top-right {
  position: fixed;
  top: 20px;
  right: -20px;
  transform: translateX(-50%);
  z-index: 10;
}
.top-right img{
  width: 40%;
  margin-right: -150px;

}
.pie{
  position: fixed;
  bottom: 20px;
  left: 50px;
  z-index: 10;
}
.explore {
  position: fixed;
  bottom: -190px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hover {
  transition: all 0.2s ease;
  padding: 200px;

}

.hover:hover {
  background-color: #ffffff;
  border-radius: 100%;
}

.hover:hover img, .hover:hover button {
  filter: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(14%) hue-rotate(141deg) brightness(96%) contrast(100%);
}