html, body, #root, canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  background-color: #ffffff;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: 600;
}
button{
  background-color: #00000000;
  border: none;
  border: 2px solid #7e7e7e;
  border-radius: 5px;
  font-size: 25px;
  padding: 10px;
}
.white{
  background-color: #ffffff;

}
